@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 230, 230);
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
}

.header {
  padding: 47px 40px;
  background-color: #fff;
  display: flex;
  width: 100vw;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  font-size: 18px;
}
.nav-left li:hover {
  color: rgb(36, 226, 36);
  cursor: pointer;
}
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  border: transparent;
}

.search {
  display: inline-block;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
  text-indent: 32px;
}
.search .bi-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search .bi-search {
  left: auto;
  right: 225px;
}
.nav-right {
  display: flex;
  justify-content: space-between;
}
.bi-minecart {
  margin: 0px 20px;
}
.shop-container {
  background-color: #fff;
  width: 100vw;
  /* height: 40vh; */
  padding: 40px 0px;
}
.heading {
  text-align: center;
}
.best-sell-container {
  background-color: #f5fcff;
  width: 100%;
  display: flex;
  gap: 10px;
}
.best-sell-svg {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-sell-desc {
  margin-left: 60px;
  margin-top: 20px;
}
.best-sell-feature {
  display: flex;
  gap: 20px;
}
.best-sell-content {
  width: 55%;
}
.best-sell-product {
  position: relative;
  transform: rotate(24deg);
  top: 29%;
}
.best-sell-girl {
  position: relative;
  bottom: 38%;
  left: 33%;
}
.home-container {
  width: 100%;
  background-color: #fcf8ef;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  align-items: center;
  text-align: center;
  gap: 6%;
}
.home-button {
  background-color: black;
  color: white;
  padding: 10px 59px;
  border-radius: 30px;
  margin-top: 31px;
}
.home-heading {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 900;
}
.footer-sec1 {
  background-color: #145f14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px 0px;
}
.footer-about {
  margin: 20px 0px;
  font-weight: 100;
}
.footer-sec2 {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 35px 76px;
}

.footer-sec2 div {
  flex: 1;
  margin: 0 10px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}
.footer-sec3 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  gap: 6%;
  padding: 10px 0px;
}
.footer-svg {
  margin-left: 20px;
}
svg {
  cursor: pointer;
}
.arrival-container {
  padding: 40px 0px;
}
